*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    place-content: center;
}

canvas {
    border: 5px solid black;
    height: 280px;
    width: 280px;
}

section {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
}